layout_poetry() {
  local VENV="$(poetry env info --path)"
  if [[ -z $VENV || ! -d "$VENV/bin" ]]; then
    log_error 'No poetry virtual environment found. Use `poetry install` to create one.'
    exit 2
  fi

  export VIRTUAL_ENV=$VENV
  export POETRY_ACTIVE=1
  PATH_add "$VENV/bin"
}

layout poetry
